<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.vertafore.cordova" version="0.2.3">
    <name>CordovaPhone</name>
    <description>Cordova Phone Check Plugin</description>
    <license>Do not use.</license>
    <platform name="ios">
        
        <framework src="CoreTelephony.framework" />
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPhone">
                <param name="ios-package" value="Phone"/>
                <param name="ios-package" value="Phone"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Phone.h" />
        <source-file src="src/ios/Phone.m" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaPhone">
                <param name="android-package" value="org.vertafore.cordova.Phone"/>
            </feature>
        </config-file>
        <source-file src="src/android/Phone.java" target-dir="src/org/vertafore/cordova/" />
    </platform>
</plugin>